/* main css */


 .body {
   background-color: #f2f2f2;
 }

.album__header {
  color: #ff531a;
  font-weight: lighter;
  text-align: center;
}

.links {
  display: block;
  margin: auto;
  width: 50%;
}

.thumbnail__anchor {
  text-decoration: none;
}

.thumbnails {
  height: 150px;
  width: 200px;
}
